
header{
    background-color: rgb(166, 209, 255);
    height: 80px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    width:100%;
   
   
    
}
footer{
    
    background-color: rgb(223, 223, 248);
    margin: 5%;
    display:inline-block;
    vertical-align: top;
    height: 500px;
    width: 85%;
    margin-top:1%;
    box-shadow: 1px 1px 5px  black;
    border-radius:1%;
    
    
   
    
    
    
    
}
box{
    text-align:left;
   
    display:inline-block;
    vertical-align:top;
}
img{
  border: 5px solid #6874ff;
  margin: 1%;
  border-radius: 5%;
   width:11%;
}
h3{
    padding-top:1%;
    color:black;
    
}
h5{
   text-align:center;
    position: absolute;
    bottom: 10px;
    display:flex;
    
}
body{
    background-color: rgb(250, 249, 239);
}